{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "@/utils": "./src/utils",
          "@/components": "./src/components",
          "@/pages": "./src/pages",
          "@/assets": "./src/assets",
        }
      }]
    ]
  }